# For the iCE40HX-8K Breakout Board

## System Clock
set_io clk J3

### UART (FTDI Channel B)
set_io uart_rx B10
set_io uart_tx B12
set_io uart_cts A15
#set_io uart_rts B13

### Breakout Board LEDs
set_io led[7] B5
set_io led[6] B4
set_io led[5] A2
set_io led[4] A1
set_io led[3] C5
set_io led[2] C4
set_io led[1] B3
set_io led[0] C3

### YL-4 Switch Matrix LEDs (inverted)
set_io ledx[7] J1
set_io ledx[6] J2
set_io ledx[5] K1
set_io ledx[4] K3
set_io ledx[3] L1
set_io ledx[2] L3
set_io ledx[1] M1
set_io ledx[0] M2

### YL-4 Switch Marix Buttons
set_io button[3] E2
set_io button[2] F1
set_io button[1] F2
set_io button[0] G1

### VGA Display
set_io vga_h_sync C2
set_io vga_v_sync D1
set_io vga_red B1
set_io vga_grn B2
set_io vga_blu C1

### TM1638 Display
#set_io tm_clk P1
#set_io tm_dio P2
#set_io tm_cs R1
