IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "rst" H11;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

// UART
IO_LOC "uart_tx" C3;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "uart_rx" B3;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// USB port
IO_LOC "usb_dp" L6;             // D+
IO_PORT "usb_dp" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "usb_dm" K6;             // D-
IO_PORT "usb_dm" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC "usb_led_act" D7;     // USB activity LED
IO_PORT "usb_led_act" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "usb_led_err" E8;     // USB connection error LED
IO_PORT "usb_led_err" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// VGA
IO_LOC "vga_red" C10;
IO_PORT "vga_red" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_grn" B10;
IO_PORT "vga_grn" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_blu" D10;
IO_PORT "vga_blu" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_h_sync" C11;
IO_PORT "vga_h_sync" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_v_sync" B11;
IO_PORT "vga_v_sync" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_de" D11;
IO_PORT "vga_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "vga_cls" H10;
IO_PORT "vga_cls" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
